comp: 
 push eax 
 push ecx 
 push ebp 
 mov ebp, esp 
 mov ebx, 1 
 cmp eax, 1 
 jle end 
 mov ecx, eax 
 dec eax 
 call comp 
 mul ebx, ecx 
end: 
 pop ebp 
 pop ecx 
 pop eax 
 ret 
 
start: 
 mov eax, 0 
loop: inc eax 
 call comp 
 cmp eax, 3 
 jl loop 
